<%- include('../partials/admin-header') %>
    <section class="content-main  mx-5">
        <div class="card  card-login-full-width mx-5">
            <div class="card-body mx-5">
                <h4 class="card-title mb-4">Edit user details</h4>
                <form id="updateForm" method="post">
                    <div class="mb-3">
                        <input type="text" class="hidden" name="userId" value="<%= user._id %>">
                        <label class="form-label">Username</label>
                        <input class="form-control" placeholder="Username" type="text" name="username" id="username" value="<%= user.username %>">
                        <div id="username-error" class="invalid-feedback">
                            Please provide a valid username.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Email</label>
                        <input class="form-control" placeholder="Your email" type="text" name="email" id="email"
                            value="<%= user.email %>">
                        <div id="email-error" class="invalid-feedback">
                            Please provide a valid username.
                        </div>
                    </div> <!-- form-group// -->
                    <!-- <div class="mb-3">
                        <label class="form-label">Create password</label>
                        <input class="form-control" placeholder="Password" type="password" name="password" id="password"
                            value="123">
                        <div id="password-error" class="text-danger"
                            style="visibility: hidden; font-size: small; height: 10px;"></div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Confirm password</label>
                        <input class="form-control" placeholder="Password" type="password" name="confirmPassword"
                            id="confirmPassword" value="123">
                        <div id="confirmPassword-error" class="text-danger"
                            style="visibility: hidden; font-size: small; height: 10px;"></div>
                    </div> -->
                    <!-- <div class="mb-2">
                        <p class="small text-center text-muted">By signing up, you confirm that you’ve read and
                            accepted our User Notice and Privacy Policy.</p>
                    </div> -->
                    <div class="mb-3">
                        <button type="submit" data-userId="<%= user._id %>" class="btn btn-primary w-100"> Update
                        </button>
                    </div> <!-- form-group// -->
                </form>
            </div>
        </div>
    </section>
    <!-- validatoion script -->

    <script>
        $(document).ready(() => {
            const username = $('#username');
            const email = $('#email');
            const password = $('#password');
            const confirmPassword = $('#confirmPassword');
            const emailRegex = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            $('#updateForm').submit((event) => {
                event.preventDefault();
                if (isValidForm()) {
                    $('#updateForm')[0].submit();
                    console.log('submit');
                }
            });

            function isValidForm() {
                if (username.val().trim() === "") {
                    displayMessage('username', 'Please enter a valid username.');
                    username.focus();
                    return false;
                }
                if (!emailRegex.test(email.val())) {
                    displayMessage('email', 'Please enter a valid email.');
                    email.focus();
                    return false;
                }
                return true;
            }
            function displayMessage(element, message) {
                $(`#${element}-error`).addClass('d-block').text(message);
                setTimeout(() => {
                    $(`#${element}-error`).removeClass('d-block').text('');
                }, 2000);
            }

        });

    </script>

    <%- include('../partials/admin-footer') %>