<%- include('../partials/admin-header') %>
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: <%= order._id %></p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>
                                <%= order.createdAt.toLocaleString().split(' ')[0] %>
                            <!-- <%= new Date(order.createdAt).toLocaleDateString() %> -->
                            <% function formatAMPM(date) { var hours=date.getHours(); var minutes=date.getMinutes(); var
                                ampm=hours>= 12 ? 'PM' : 'AM';
                                hours = hours % 12;
                                hours = hours ? hours : 12; // the hour '0' should be '12'
                                minutes = minutes < 10 ? '0' + minutes : minutes; var strTime=hours + ':' + minutes
                                    + ' ' + ampm; return strTime; } var formattedDate=formatAMPM(new
                                    Date(order.createdAt)); %>
                                    <%= formattedDate %>
                            </b>
                        </span> <br>
                        <small class="text-muted">Order ID: <%= order._id %></small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <select class="form-select d-inline-block mb-lg-0 mb-15 mw-200" id="status-select">
                            <!-- <option>Change status</option> -->
                            <option value="pending">Pending</option>
                            <option value="cancelled">Cancelled</option>
                            <!-- <option value="awaiting_payment">Awaiting payment</option> -->
                            <option value="verified">Verified</option>
                            <!-- <option value="shipped">Shipped</option> -->
                            <option value="delivered">Delivered</option>
                        </select>
                        <button class="btn btn-primary" id="status-btn" onclick="updateStatus('<%= order._id %>')">Save</button>
                        <!-- <a class="btn btn-secondary print ms-2" href="#"><i class="icon material-icons md-print"></i></a> -->
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%= order.address.name %> <br> <template class="__cf_email__"
                                        data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                    <br> +91 <%= order.address.phone %>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Payment method: <%= order.paymentMethod %> <br> Status: <%= order.status %>
                                </p>
                                <!-- <a href="#">Download info</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                   Landmark: <%= order.address.city %>  <br>City:<%= order.address.landmark %> <br> Po Box <%= order.address.pincode %>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.products.forEach(p => { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left" style="object-fit: contain;">
                                                        <img style="object-fit: contain;" src="/product-images/<%= p.image %>" width="40" height="40"
                                                            class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"><%= p.productName %>(<%= p.color %>, <%= p.storage %>GB)(<%= p.ram %> RAM)</div>
                                                </a>
                                            </td>
                                            <td> &#8377; <%= p.price  %> </td>
                                            <td> <%= p.quantity %> </td>
                                            <td class="text-end"> &#8377;<%= p.subtotal %> </td>
                                        </tr>
                                    <% }) %>
                                    <tr>
                                        <td colspan="4">
                                            <article class="float-end">
                                                <!-- <dl class="dlist">
                                                    <dt>Subtotal:</dt>
                                                    <dd>$973.35</dd>
                                                </dl> -->
                                                <!-- <dl class="dlist">
                                                    <dt>Shipping cost:</dt>
                                                    <dd>$10.00</dd>
                                                </dl> -->
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd> <b class="h5">&#8377;<%= order.totalPrice %></b> </dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt class="text-muted">Status:</dt>
                                                    <dd>
                                                        <span class="badge rounded-pill alert-success text-success"><%= order.status %></span>
                                                    </dd>
                                                </dl>
                                            </article>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->

    <script>
        function updateStatus(orderId) {
            const selectElement = document.getElementById('status-select');
            const status = selectElement.value;
            $.ajax({
                url: '/admin/updateOrderStatus',
                method: 'POST',
                data: { orderId,status },
                success: function(response) {
                    // window.location.href = '/admin/orders'
                    if (response.status == 'success') {
                        window.location.href = response.redirect;
                    }
                }
            })
        }
    </script>
    <%- include('../partials/admin-footer') %>