<%- include('../partials/user-header') %>
    <style>
        .empty-cart {
            text-align: center;
            padding: 50px;
        }

        .empty-cart h2 {
            font-size: 24px;
            color: #333;
        }

        .empty-cart p {
            font-size: 16px;
            color: #666;
        }

        .empty-cart a {
            display: inline-block;
            padding: 10px 20px;
            margin-top: 20px;
            color: #fff;
            background-color: #007bff;
            border-radius: 5px;
            text-decoration: none;
        }

        .empty-cart a:hover {
            background-color: #0056b3;
            text-decoration: none;
        }
    </style>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span><a href="/shop">Shop</a>
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">

                    <% if (cart.length> 0) { %>
                        <div class="col-9">
                            <div class="table-responsive">
                                <table class="table shopping-summery text-center clean">
                                    <thead>
                                        <tr class="main-heading">
                                            <th scope="col">Image</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Price</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Subtotal</th>
                                            <th scope="col">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% for( let i=0; i < cart.length; i++ ) { %>
                                            <tr id="item-<%= cart[i].productId %>">
                                                <td class="image product-thumbnail"><img style="height: 5rem; width: auto;"
                                                        src="/product-images/<%= cart[i].image[0] %>" alt="#"></td>
                                                <td class="product-des product-name">
                                                    <h5 class="product-name"><a href="shop-product-right.html">
                                                            <%= cart[i].productName %>
                                                        </a></h5>
                                                    <p class="font-xs"></p>
                                                    <!-- <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy magndapibus.
                                                </p> -->
                                                </td>
                                                <td class="price" data-title="Price"><span>&#8377;<%=
                                                            cart[i].productPrice %>
                                                    </span></td>
                                                <td class="text-center" data-title="Stock">
                                                    <div class="detail-qty border radius  m-auto">
                                                        <a href="#"
                                                            onclick="changeQuantity('<%= user %>', '<%= cart[i].productId %>', -1, '<%= cart[i].productPrice %>')"
                                                            class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                                        <span class="qty-val" id="qty-<%= cart[i].productId %>">
                                                            <%= cart[i].quantity %>
                                                        </span>
                                                        <a href="#" class="qty-up"
                                                            onclick="changeQuantity('<%= user %>', '<%= cart[i].productId %>', 1 ,'<%= cart[i].productPrice %>')"><i
                                                                class="fi-rs-angle-small-up"></i></a>
                                                    </div>
                                                </td>
                                                <td class="text-right" data-title="Cart">
                                                    <span>&#8377;<span id="subtotal-<%= cart[i].productId %>">
                                                            <%= cart[i].subtotal %>
                                                        </span></span>
                                                </td>
                                                <td class="action" data-title="Remove"><a href="#" class="text-muted"
                                                        onclick="removeItem('<%= cart[i].productId%>')"><i
                                                            class="fi-rs-trash"></i></a></td>
                                            </tr>
                                            <% } %>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-12">
                            <div class="border p-md-4 p-30 border-radius cart-totals">
                                <div class="heading_s1 mb-3">
                                    <h4>Cart Totals</h4>
                                </div>
                                <div class="table-responsive">
                                    <table class="table">
                                        <tbody>
                                            <!-- <tr>
                                                    <td class="cart_total_label">Cart Subtotal</td>
                                                    <td class="cart_total_amount"><span
                                                            class="font-lg fw-900 text-brand">&#8377;<%= totalAmount %></span></td>
                                                </tr> -->
                                            <tr>
                                                <td class="cart_total_label">Shipping</td>
                                                <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free
                                                    Shipping</td>
                                            </tr>
                                            <tr>
                                                <td class="cart_total_label">Total</td>
                                                <td class="cart_total_amount"><strong><span
                                                            class="font-xl fw-900 text-brand">&#8377;<span
                                                                id="totalAmount">
                                                                <%= totalAmount %>
                                                            </span></span></strong>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <a href="/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To
                                    CheckOut</a>
                            </div>
                        </div>
                        <% } else { %>
                            <!-- <div class="container" style="height: 50vh;">
                                                        <div class="alert alert-info" role="alert">
                                                            No products found in cart.
                                                        </div>
                                                        <a href="/" class="btn btn-primary">Go to Shopping</a>
                                                    </div> -->
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 empty-cart">
                                        <h2>Your cart is empty</h2>
                                        <p>You haven't added any items to your cart yet. Let's start shopping!</p>
                                        <a href="/" class="btn btn-primary">Go Shopping</a>
                                    </div>
                                </div>
                            </div>
                            <% } %>
                                <!-- <tr>
                                                        <td colspan="6" class="text-end">
                                                            <a href="#" class="text-muted"> <i
                                                                    class="fi-rs-cross-small"></i> Clear Cart</a>
                                                        </td>
                                                    </tr> -->
                                <!-- <div class="cart-action text-end">
                            <a class="btn  mr-10 mb-sm-15"><i class="fi-rs-shuffle mr-10"></i>Update Cart</a>
                            <a class="btn "><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                        </div>  -->
                </div>






            </div>
            </div>
        </section>
    </main>

    <script>
        function changeQuantity(userId, productId, change, price) {
            console.log('price', price);
            // Retrieve the current quantity from the span element
            const currentQuantityElement = $(`#qty-${productId}`);
            const currentQuantity = currentQuantityElement.text();
            const subtotalElement = $(`#subtotal-${productId}`);
            const subtotal = parseInt(subtotalElement.text());
            const totalAmountElement = $('#totalAmount');
            console.log(parseInt(change));
            let newQuantity = parseInt(currentQuantity) + parseInt(change);
            // console.log(newQuantity);
            if (newQuantity < 1) {
                return;
            }
            $.ajax({
                url: '/cartQuantityUpdate',
                method: 'POST',
                data: {
                    userId,
                    productId,
                    newQuantity
                },
                success: function (response) {
                    $(`#qty-${productId}`).text(newQuantity);
                    // console.log(newQuantity * subtotal);
                    // console.log(newQuantity, subtotal);
                    console.log(newQuantity, subtotal);
                    subtotalElement.text(newQuantity * parseInt(price));
                    if (change == 1) {
                        totalAmountElement.text(parseInt(totalAmountElement.text()) + parseInt(price));
                    } else if (change == -1) {

                        totalAmountElement.text(parseInt(totalAmountElement.text()) - parseInt(price));
                    }
                }
            })
        }

        function removeItem(productId) {
            $.ajax({
                url: '/remove-product',
                method: 'POST',
                data: { productId },
                success: function (response) {
                    if (response.status == 'success') {
                        window.location.reload();
                    }
                }
            })
        }
    </script>
    <%- include('../partials/user-footer') %>