<%- include('../partials/user-header') %>
    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="index.html"><img src="/user-assets/imgs/theme/logo.svg" alt="logo"></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…">
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Consumer
                                        Electronics</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start -->
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="index.html">Home</a>
                                <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single
                                            Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's
                                            Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's
                                            Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single
                                            Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="/user-assets/imgs/theme/icons/icon-facebook.svg" alt=""></a>
                    <a href="#"><img src="/user-assets/imgs/theme/icons/icon-twitter.svg" alt=""></a>
                    <a href="#"><img src="/user-assets/imgs/theme/icons/icon-instagram.svg" alt=""></a>
                    <a href="#"><img src="/user-assets/imgs/theme/icons/icon-pinterest.svg" alt=""></a>
                    <a href="#"><img src="/user-assets/imgs/theme/icons/icon-youtube.svg" alt=""></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Your Cart
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center clean">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col">Image</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>

                                    <% if (data.length> 0) { %>
                                        <% var x=0 %>
                                            <% for (let i=0; i < data.length;i++) { %>

                                                <tr>
                                                    <td class="image product-thumbnail">
                                                        <img src="/product-images/<%= data[i].productDetails[0].image[0] %>"
                                                            alt="#" />
                                                    </td>
                                                    <td class="product-des product-name">
                                                        <h5 class="product-name">
                                                            <a href="shop-product-right.html">
                                                                <%= data[i].productDetails[0].name %>
                                                            </a>
                                                        </h5>
                                                        <p class="font-xs">
                                                            <!-- <%= data[i].productDetails[0].category %><br /> -->
                                                            <%= data[i].productDetails[0].brand %>.
                                                        </p>
                                                    </td>
                                                    <td class="price" data-title="Price">₹<span> <text
                                                                id="subTotal<%= data[i].productDetails[0].id %>">
                                                                <%= data[i].productDetails[0].promotionalPrice *
                                                                    data[i].quantity %>
                                                            </text><br>
                                                            <small class="text-muted text-nowrap">₹<span id="price">
                                                                    <%= data[i].productDetails[0].promotionalPrice %>

                                                                </span>
                                                                / per item </small>

                                                    </td>



                                                    <td class="text-center" data-title="Stock">
                                                        <div class="detail-qty border radius m-auto">
                                                            <div class="quantity-control">


                                                                <script>

                                                                </script>
                                                                <button class="btn btn-sm increment-button"
                                                                    onclick="changeQuantity('<%= data[i].productDetails[0]._id %>', '<%= data[i].quantity %>', 1, '<%= data[i].productDetails[0].promotionalPrice %>',  '<%= data[i].productDetails[0]._id %>', '<%= data[i].productDetails[0].quantity%>')">+</button>


                                                                <input class="quantity-input"
                                                                    id="cartProductQuantity<%= data[i].productDetails[0].id %>"
                                                                    value="<%= data[i].quantity %>" style="width: 45px;"
                                                                    type="text" readonly value="">



                                                                <button class="btn btn-sm decrement-button"
                                                                    onclick="changeQuantity('<%= data[i].productDetails[0]._id %>', '<%= data[i].quantity %>', -1, '<%= data[i].productDetails[0].promotionalPrice %>',  '<%= data[i].productDetails[0].id %>', '<%= data[i].productDetails[0].quantity%>')">-</button>



                                                            </div>
                                                        </div>
                                                    </td>





                                                    <td class="action" data-title="Remove">
                                                        <a class="btn btn-sm"
                                                            href="/deleteItem?id=<%= data[i].productDetails[0]._id %>">
                                                            <i class="fi-rs-trash"></i>
                                                        </a>
                                                    </td>




                                                    <% } %>
                                                        <% } else { %>
                                                <tr>

                                                    <td colspan="2" class="text-center">
                                                        <p class="lead mb-4">No item found in Cart</p>
                                                    </td>


                                                </tr>
                                                <% } %>

                                                    <input type="hidden" name="" id="totalabc" value="<%= x  %>">

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="border p-md-4 p-30 border-radius cart-totals">
                            <div class="heading_s1 mb-3">
                                <h4>PRICE DETAILS</h4>
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>

                                        <tr>
                                            <td class="cart_total_label">Shipping</td>
                                            <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="cart_total_label">Total</td>
                                            <td class="cart_total_amount"><span class="font-lg fw-900 text-brand">₹
                                                    <text id="total">
                                                        <%= grandTotal %>
                                                    </text>
                                                </span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <a href="/checkout?userId=<%= user._id %>" class="btn "> <i class="fi-rs-box-alt mr-10"></i>
                                Proceed To CheckOut</a>
                        </div>
                    </div>

                </div>

            </div>
            </div>
            </div>
            </div>
        </section>
    </main>


    <script>
        function changeQuantity(productId, cartQuantity, count, productPrice, i, productQuantity) {
            // alert(productId);
            // alert(productPrice)
            // alert(cartQuantity)
            // alert(i)

            const abc = document.getElementById("totalabc").value
            console.log(abc, "hi");
            console.log(productId, cartQuantity, count, productPrice, i, productQuantity);
            const cartProductQuantityElement = document.querySelector(`#cartProductQuantity${i}`)
            // alert('quantity')
            // alert(cartProductQuantityElement.value,'quantity')
            const subtotalElement = document.querySelector(`#subTotal${i}`);
            // alert(subtotalElement.innerHTML,"subelm")
            const totalElements = document.getElementById('total').innerHTML;
            // alert(parseInt(subtotalElement.innerHTML)+ parseInt(productPrice))




            let currentQuantity = parseInt(cartProductQuantityElement.value)

            const currentSubTotal = parseInt(subtotalElement.innerHTML)
            // alert(currentSubTotal+"sub")

            // alert(currentTotal+"total")

            const newQuantity = currentQuantity + count
            // alert(newQuantity)

            if (count === -1 && newQuantity < 1) {
                return;
            }

            if (currentSubTotal < currentSubTotal) {
                return
            }

            if (count == 1 && newQuantity > productQuantity) {


                Swal.fire({
                    title: 'STOCK!',
                    text: 'Product is out of stock.',
                    icon: 'error',
                    timer: 5000
                })
                return
            }

            const newSubtotal = newQuantity * productPrice
            if (count == 1) {
                // alert('1')
                document.getElementById(`subTotal${i}`).innerHTML = parseInt(subtotalElement.innerHTML) + parseInt(productPrice)
            } else {
                // alert('else')
                document.getElementById(`subTotal${i}`).innerHTML = parseInt(subtotalElement.innerHTML) - parseInt(productPrice)
            }



            // alert('in starting '+newTotal)
            $.ajax({
                url: '/changeQuantity',
                method: 'POST',
                data: {
                    productId: productId,
                    quantity: newQuantity,
                    count: count
                },

                success: (response) => {
                    //   alert('sucess')
                    // location.reload()


                    let currentQuantity = parseInt(cartProductQuantityElement.value)
                    // alert(currentQuantity,"currQua")
                    let currentSubTotal = parseInt(subtotalElement.value)
                    // alert(subtotalElement.value,"subttl")
                    // alert(currentTotal,"ctotal")
                    document.getElementById(`cartProductQuantity${i}`).value = currentQuantity + count

                    document.getElementById(`subTotal${i}`).value = currentSubTotal * count
                    // alert(parseInt(abc) + parseInt(response.totalAmount),"helloooooooooooooooooooo")
                    if (response.count == 1) {
                        console.log("TOtal Element == >", totalElements)
                        document.getElementById(`total`).innerHTML = parseInt(totalElements) + parseInt(response.totalAmount)
                    } else {
                        document.getElementById(`total`).innerHTML = parseInt(totalElements) - parseInt(response.totalAmount)

                    }


                },
                error: (error) => {
                    // alert(error)    
                }
            })
        }








    </script>



    <%- include('../partials/user-footer') %>