<%- include('../partials/user-header') %>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script
    <!-- Template CSS -->
    <link href="/admin-assets/css/main.css" rel="stylesheet" type="text/css" />
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Order detail</h2>
                <p>Details for Order ID: <%= order._id %></p>
            </div>
        </div>
        <div class="card">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6 mb-lg-0 mb-15">
                        <span>
                            <i class="material-icons md-calendar_today"></i> <b>
                                <%= order.createdAt.toLocaleString().split(' ')[0] %>
                            <!-- <%= new Date(order.createdAt).toLocaleDateString() %> -->
                            <% function formatAMPM(date) { var hours=date.getHours(); var minutes=date.getMinutes(); var
                                ampm=hours>= 12 ? 'PM' : 'AM';
                                hours = hours % 12;
                                hours = hours ? hours : 12; // the hour '0' should be '12'
                                minutes = minutes < 10 ? '0' + minutes : minutes; var strTime=hours + ':' + minutes
                                    + ' ' + ampm; return strTime; } var formattedDate=formatAMPM(new
                                    Date(order.createdAt)); %>
                                    <%= formattedDate %>
                            </b>
                        </span> <br>
                        <small class="text-muted">Order ID: <%= order._id %></small>
                    </div>
                    <div class="col-lg-6 col-md-6 ms-auto text-md-end">
                        <% if (order.status == 'delivered') { %>
                            <a class="btn btn-secondary" onclick="invoiceDownload('<%= order._id %>')">Downlod Invoice</a>
                        <%}%>
                        <% if (order.status == 'delivered') { %>
                            <a class="btn btn-light" onclick="confirmReturn('<%= order._id %>')">Return</a>
                        <% } else if (order.status == 'cancelled') { %>
                            <a class="btn btn-secondary disabled" href="#">Cancelled</a>
                        <% } else if (order.status == 'returned') { %>
                            <a class="btn btn-secondary disabled" href="#">Returned</a>
                        <% } else { %>
                            <a class="btn btn-danger" onclick="confirmCancel('<%= order._id %>')">Cancel Order</a>
                        <% } %>
                    </div>
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <div class="row mb-50 mt-20 order-info-wrap">
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-person"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Customer</h6>
                                <p class="mb-1">
                                    <%= order.address.name %> <br> <template class="__cf_email__"
                                        data-cfemail="e2838e879aa2879a838f928e87cc818d8f">[email&#160;protected]</template>
                                    <br> +91 <%= order.address.phone %>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-local_shipping"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Order info</h6>
                                <p class="mb-1">
                                    Shipping: Fargo express <br> Payment method: <%= order.paymentMethod %> <br> Status: <%= order.status %>
                                </p>
                                <!-- <a href="#">Download info</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                    <div class="col-md-4">
                        <article class="icontext align-items-start">
                            <span class="icon icon-sm rounded-circle bg-primary-light">
                                <i class="text-primary material-icons md-place"></i>
                            </span>
                            <div class="text">
                                <h6 class="mb-1">Deliver to</h6>
                                <p class="mb-1">
                                   Landmark: <%= order.address.city %>  <br>City:<%= order.address.landmark %> <br> Po Box <%= order.address.pincode %>
                                </p>
                                <!-- <a href="#">View profile</a> -->
                            </div>
                        </article>
                    </div> <!-- col// -->
                </div> <!-- row // -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="40%">Product</th>
                                        <th width="20%">Unit Price</th>
                                        <th width="20%">Quantity</th>
                                        <th width="20%" class="text-end">Total</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% order.products.forEach(p => { %>
                                        <tr>
                                            <td>
                                                <a class="itemside" href="#">
                                                    <div class="left" style="object-fit: contain;">
                                                        <img style="object-fit: contain;" src="/product-images/<%= p.image %>" width="40" height="40"
                                                            class="img-xs" alt="Item">
                                                    </div>
                                                    <div class="info"><%= p.productName %>(<%= p.color %>, <%= p.storage %>GB)(<%= p.ram %> RAM)</div>
                                                </a>
                                            </td>
                                            <td> &#8377; <%= p.price  %> </td>
                                            <td> <%= p.quantity %> </td>
                                            <td class="text-end"> &#8377;<%= p.subtotal %> </td>
                                        </tr>
                                    <% }) %>
                                    <tr>
                                        <td colspan="4">
                                            <article class="float-end">
                                                <!-- <dl class="dlist">
                                                    <dt>Subtotal:</dt>
                                                    <dd>$973.35</dd>
                                                </dl> -->
                                                <dl class="dlist">
                                                    <dt>Shipping cost:</dt>
                                                    <dd>&#8377;40.00</dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt>Grand total:</dt>
                                                    <dd> <b class="h5">&#8377;<%= order.totalPrice %></b> </dd>
                                                </dl>
                                                <dl class="dlist">
                                                    <dt class="text-muted">Status:</dt>
                                                    <dd>
                                                        <span class="badge rounded-pill alert-success text-success"><%= order.status %></span>
                                                    </dd>
                                                </dl>
                                                <% if (order.status == 'payment failed') { %>
                                                    <dl class="dlist">
                                                        <dd>
                                                            <a class="btn btn-light" onclick="paypending('<%= order._id %>')">Pay</a>
                                                        </dd>
                                                    </dl>
                                                <% } %>
                                            </article>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!-- table-responsive// -->
                    </div> <!-- col// -->
                </div>
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        function confirmCancel(orderId) {
            swal.fire({
                title: "Are you sure?",
                text: "Once cancelled, you will not be able to undo this action!",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
                .then((willCancel) => {
                    if (willCancel) {
                        window.location.href = "/cancel-order?id=" + orderId;
                    }
                });
        }

        function confirmReturn(orderId) {
            Swal.fire({
                title: "Are you sure?",
                text: "Once returned, you will not be able to undo this action!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, return it!',
                cancelButtonText: 'No, cancel!',
                customClass: {
                    title: 'custom-title',
                    confirmButton: 'custom-confirm-button',
                    cancelButton: 'custom-cancel-button'
                }
            }).then((result) => {
                if (result.isConfirmed) {
                    window.location.href = "/return-order?id=" + orderId;
                }
            });
        }


        function paypending(orderId) {
            // alert(orderId)
            $.ajax({
                url: '/pay-pending',
                method: 'POST',
                data: { orderId: orderId },
                success: function (response) {
                    console.log(response);
                    var options = {
                        "key": "rzp_test_2hyTCJ2qBkwleR", // Enter the Key ID generated from the Dashboard
                        // "amount": "5000", // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                        "currency": "INR",
                        "name": "MobileX",
                        "description": "Test Transaction",
                        "image": "https://example.com/your_logo",
                        "order_id": response.orderId, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
                        // "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
                        "prefill": {
                            "name": "Gaurav Kumar",
                            "email": "gaurav.kumar@example.com",
                            "contact": "9000090000"
                        },
                        "notes": {
                            "address": "Razorpay Corporate Office"
                        },
                        "handler": function (response) {
                            // alert('Payment successful: ' + response.razorpay_payment_id);
                            var settings = {
                                "url": "/verify-payment-pending",
                                "method": "POST",
                                "timeout": 0,
                                "headers": {
                                    "Content-Type": "application/json"
                                },
                                "data": JSON.stringify({ response }),
                                success: (response) => {
                                    // console.log(response);
                                    if (response.redirect) {
                                        window.location.href = response.redirect;
                                    }
                                }
                            }
                            $.ajax(settings);
                        },
                        "theme": {
                            "color": "#3399cc"
                        }
                    };
                    console.log(response);
                    var rzp1 = new Razorpay(options);
                    rzp1.open();
                }
            })
        }


        function invoiceDownload(orderId) {
            event.preventDefault();
            fetch(`/download-invoice?orderId=${orderId}`)   
        }
    </script>
    <%- include('../partials/user-footer') %>