<%- include('../partials/user-header') %>
    <style>
        /* Customize the checkbox appearance */
        .form-check-input:checked {
            background-color: #007bff;
            /* Change the background color when checked */
            border-color: #007bff;
            /* Change the border color when checked */
        }

        /* Add a custom icon for the checked state */
        .form-check-input:checked::after {
            content: "✔";
            /* Unicode checkmark */
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white;
        }
    </style>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="/" rel="nofollow">Home</a>
                    <span></span> Shop
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="shop-product-fillter">
                            <div class="totall-product">
                                <p> We found <strong class="text-brand" id="productsCount">
                                        <%= productsCount %>
                                    </strong> items for you!</p>
                            </div>

                            <div class="sort-by-product-area">



                                <!-- <div class="sort-by-cover mr-10">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps"></i>Show:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> 50 <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">50</a></li>
                                        <li><a href="#">100</a></li>
                                        <li><a href="#">150</a></li>
                                        <li><a href="#">200</a></li>
                                        <li><a href="#">All</a></li>
                                    </ul>
                                </div>
                            </div> -->
                                <!-- <div class="sort-by-cover">
                                <div class="sort-by-product-wrap">
                                    <div class="sort-by">
                                        <span><i class="fi-rs-apps-sort"></i>Sort by:</span>
                                    </div>
                                    <div class="sort-by-dropdown-wrap">
                                        <span> Featured <i class="fi-rs-angle-small-down"></i></span>
                                    </div>
                                </div>
                                <div class="sort-by-dropdown">
                                    <ul>
                                        <li><a class="active" href="#">Featured</a></li>
                                        <li><a href="#">Price: Low to High</a></li>
                                        <li><a href="#">Price: High to Low</a></li>
                                        <li><a href="#">Release Date</a></li>
                                        <li><a href="#">Avg. Rating</a></li>
                                    </ul>
                                </div>
                            </div> -->
                                <div class="col-lg-4 col-md-6 me-auto">
                                    <input id="searchInput" onkeyup="searchRequest()" type="text"
                                        placeholder="Search..." class="form-control">
                                </div>

                                <div class="dropdown ml-10" id="filter-dropdown">
                                    <button class="btn btn-warning dropdown-toggle sort-dropdown" type="button"
                                        id="filter-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                        Filter
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#" data-value="all">All</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="inStock">In stock</a></li>
                                    </ul>
                                </div>

                                <div class="dropdown ml-10" id="sort-dropdown">
                                    <button class="btn btn-secondary dropdown-toggle sort-dropdown" type="button"
                                        id="sort-btn" data-bs-toggle="dropdown" aria-expanded="false">
                                        Sort by
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <!-- <li><a class="dropdown-item" href="#" data-value="">Select an option</a></li> -->
                                        <!-- <li><a class="dropdown-item" href="#" data-value="featured">Featured</a></li> -->
                                        <li><a class="dropdown-item" href="#" data-value="price-low">Price: Low to
                                                High</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="price-high">Price: High to
                                                Low</a></li>
                                        <li><a class="dropdown-item" href="#" data-value="latest">Latest</a></li>
                                        <!-- <li><a class="dropdown-item" href="#" data-value="avg-rating">Avg. Rating</a></li> -->
                                    </ul>
                                </div>

                            </div>
                        </div>
                        <div class="row product-grid-3" id="product-list">
                            <% products.forEach(p=> { %>
                                <div class="col-lg-3 col-md-4">
                                    <div class="product-cart-wrap mb-30">
                                        <div class="product-img-action-wrap">
                                            <div class="product-img product-img-zoom">
                                                <a href="/product-details?id=<%= p._id %>">
                                                    <img class="default-img" src="/product-images/<%= p.image[0] %>"
                                                        alt="">
                                                    <img class="hover-img" src="/product-images/<%= p.image[1] %>"
                                                        alt="">
                                                </a>
                                            </div>
                                            <!-- <div class="product-action-1">
                                                <a aria-label="Quick view" class="action-btn hover-up"
                                                    data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                                    <i class="fi-rs-search"></i></a>
                                                <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                    href="shop-wishlist.html"><i class="fi-rs-heart"></i></a>
                                                <a aria-label="Compare" class="action-btn hover-up"
                                                    href="shop-compare.html"><i class="fi-rs-shuffle"></i></a>
                                            </div> -->
                                            <div class="product-badges product-badges-position product-badges-mrg">
                                                <!-- <span class="hot">Hot</span> -->
                                            </div>
                                        </div>
                                        <div class="product-content-wrap">
                                            <div class="product-category">
                                                <!-- <a href="shop-grid-right.html">Music</a> -->
                                            </div>
                                            <h2 style="min-height: 4rem;"><a href="shop-product-right.html">
                                                    <%= p.name %>(<%= p.color %>, <%= p.storage %> GB)(<%= p.ram %> RAM)
                                                </a></h2>
                                            <!-- <div class="rating-result" title="90%">
                                            <span>
                                                <span>90%</span>
                                            </span>
                                        </div> -->
                                            <div class="product-price">
                                                <span>&#8377;<%= p.promotionalPrice %></span>
                                                <span class="old-price">&#8377;<%= p.regularPrice %></span>
                                            </div>
                                            <!-- <div class="product-action-1 show">
                                                <a aria-label="Add To Cart" class="action-btn hover-up"
                                                    href="shop-cart.html"><i class="fi-rs-shopping-bag-add"></i></a>
                                            </div> -->
                                        </div>
                                    </div>
                                </div>
                                <% }) %>
                        </div>
                        <!--pagination-->
                        <div class="pagination-area mt-15 mb-sm-5 mb-lg-0">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-start" id="pagination">
                                    <% const totalPages=Math.ceil(productsCount / 8); %>
                                        <% for (let i=1; i <=totalPages; i++) { %>
                                            <li class="page-item <%= i === 1 ? 'active' : '' %>">
                                                <a class="page-link" href="#">
                                                    <%= i < 10 ? '0' + i : i %>
                                                </a>
                                            </li>
                                            <% } %>
                                </ul>
                            </nav>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </main>
    <script>
        let sort = "";
        let filter = "";
        let search = "";
        let page = 1
        $('#filter-dropdown').on('click', 'a', function () {
            let filterBy = $(this).text();
            $('#filter-btn').text('Filter: ' + filterBy);
            var selectedValue = $(this).data('value');
            filter = selectedValue;
            console.log(filter);
            makeAjaxCall();
        });

        $('#sort-dropdown').on('click', 'a', function () {
            var sortBy = $(this).text();
            $('#sort-btn').text(sortBy);
            var selectedValue = $(this).data('value');
            sort = selectedValue; // Update 'sort' variable
            console.log(sort);
            makeAjaxCall();
        });

        // search 
        let timeoutId;
        function searchRequest() {

            clearTimeout(timeoutId);
            timeoutId = setTimeout(() => {
                search = searchInput.value
                makeAjaxCall();
            }, 500);
        }

        // pagination
        document.addEventListener("DOMContentLoaded", function () {
            // Get all pagination links
            const paginationLinks = document.querySelectorAll("#pagination .page-link");

            // Loop through each pagination link
            paginationLinks.forEach(function (link) {
                // Add click event listener to each link
                link.addEventListener("click", function (event) {
                    // Prevent the default link behavior
                    event.preventDefault();

                    // Remove the 'active' class from all pagination links' parent <li> elements
                    paginationLinks.forEach(function (link) {
                        link.parentNode.classList.remove("active");
                    });

                    // Add the 'active' class to the clicked link's parent <li> element
                    link.parentNode.classList.add("active");

                    // Get the page number from the clicked link's text content
                    if (link.textContent.trim() !== page) {
                        page = link.textContent.trim();
                        makeAjaxCall();
                        console.log("Clicked page:", page);
                    }

                    // Do whatever you need with the page number
                    // Store the page number in a variable, pass it to a function, etc.
                });
            });
        });



        // make fetch request
        function makeAjaxCall() {
            $.ajax({
                url: '/shop',
                method: 'POST',
                data: { sort: sort, filter: filter, search: search, page: page },
                success: function (response) {
                    document.getElementById('productsCount').innerHTML = response.productsCount;
                    // Clear the current product list
                    $('#product-list').empty();
                    // Iterate over the sorted products and append them to the product list
                    response.products.forEach(function (p) {
                        var productHtml = `
                    <div class="col-lg-3 col-md-4">
                        <div class="product-cart-wrap mb-30">
                            <div class="product-img-action-wrap">
                                <div class="product-img product-img-zoom">
                                    <a href="shop-product-right.html">
                                        <img class="default-img" src="/product-images/${p.image[0]}" alt="">
                                        <img class="hover-img" src="/product-images/${p.image[1]}" alt="">
                                    </a>
                                </div>
                                <div class="product-action-1">
                                    <a aria-label="Quick view" class="action-btn hover-up" data-bs-toggle="modal" data-bs-target="#quickViewModal">
                                        <i class="fi-rs-search"></i>
                                    </a>
                                    <a aria-label="Add To Wishlist" class="action-btn hover-up" href="shop-wishlist.html">
                                        <i class="fi-rs-heart"></i>
                                    </a>
                                    <a aria-label="Compare" class="action-btn hover-up" href="shop-compare.html">
                                        <i class="fi-rs-shuffle"></i>
                                    </a>
                                </div>
                                <div class="product-badges product-badges-position product-badges-mrg">
                                </div>
                            </div>
                            <div class="product-content-wrap">
                                <div class="product-category">
                                    
                                </div>
                                <h2 style="min-height: 4rem;">
                                    <a href="shop-product-right.html">
                                        ${p.name}(${p.color}, ${p.storage} GB)(${p.ram} RAM)
                                    </a>
                                </h2>
                                <div class="product-price">
                                    <span>&#8377;${p.promotionalPrice}</span>
                                    <span class="old-price">&#8377;${p.regularPrice}</span>
                                </div>
                                <div class="product-action-1 show">
                                    <a aria-label="Add To Cart" class="action-btn hover-up" href="shop-cart.html">
                                        <i class="fi-rs-shopping-bag-add"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                `;
                        $('#product-list').append(productHtml);
                    });

                }
            });
        }

    </script>
    <%- include('../partials/user-footer') %>