<%- include('../partials/user-header') %>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="index.html" rel="nofollow">Home</a>
                    <span></span> Shop
                    <span></span> Wishlist
                </div>
            </div>
        </div>
        <section class="mt-50 mb-50">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="table-responsive">
                            <table class="table shopping-summery text-center">
                                <thead>
                                    <tr class="main-heading">
                                        <th scope="col" colspan="2">Product</th>
                                        <th scope="col">Price</th>
                                        <th scope="col">Stock Status</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">Remove</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% wishlist.forEach(w=> { %>
                                        <tr>
                                            <td class="image product-thumbnail"><img
                                                    src="/product-images/<%= w.image[0] %>" alt="#"></td>
                                            <td class="product-des product-name">
                                                <h5 class="product-name"><a href="shop-product-right.html">
                                                        <%= w.productName %>
                                                    </a></h5>
                                                <!-- <p class="font-xs">Maboriosam in a tonto nesciung eget<br> distingy
                                                    magndapibus.
                                                </p> -->
                                            </td>
                                            <td class="price" data-title="Price"><span>&#8377; <%= w.productPrice %>
                                                </span></td>
                                            <td class="text-center" data-title="Stock">
                                                <% if (w.quantity <=0) {%>
                                                    <span class="color3 font-weight-bold">Out of Stock</span>
                                                    <% } else { %>
                                                        <span class="color3 font-weight-bold">In Stock</span>
                                                        <% } %>
                                            </td>
                                            <td class="text-right" data-title="Cart">
                                                <button id="addToCart" data-productId="<%= w.productId %>"
                                                    class="btn btn-sm"><i class="fi-rs-shopping-bag mr-5"></i>Add to
                                                    cart</button>
                                            </td>
                                            <td class="action" data-title="Remove"><a
                                                    href="/wishlist-remove?id=<%= w.productId %>"><i
                                                        class="fi-rs-trash"></i></a></td>
                                        </tr>
                                        <% }) %>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>


    <script>
        $(document).ready(() => {
            console.log('Document is ready');

            $('#addToCart').click(() => {
                const productId = $('#addToCart').data('productid');
                console.log(productId);
                $.ajax({
                    url: '/addTocart',
                    type: 'POST',
                    data: { productId },
                    success: handleSuccess
                })
            });

            function handleSuccess(response) {
                if (response.status === "success") {
                    // $('#addToCart').attr('id', 'goToCart').text('Go to Cart').css('background-color', 'green');
                    window.location.href = '/cart'
                }
            }
        });
    </script>
    <%- include('../partials/user-footer') %>